<header class="header">
    <div class="container">
      <div class="container-left">
        <figure class="logo">
          <a href="/">
            <h1 class="site-title">🍔 Aaron's Node Site</h1>
          </a>
        </figure>
        <%- include('partials/nav');%>
        
        

      </div>
    </div>
  </header>